# KISが参照するデータフォルダ
sisu_data/
shintakane_result_data/
market_data/
shintakane_data/
disclosure/
code_rank_data/
stock_data/
todays_kessan_data/
cache_data/
logs/
data/googledrive/drive_credential.json

# Pythonキャッシュや仮想環境なども除外
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.venv/

# MacOSのDS_Storeファイル
.DS_Store

.serena
